<footer class="w-full bg-[#C15E15] text-white text-center py-4 mt-auto">
    <p>Copyright &copy; <span id="year"></span> All Rights Reserved.</p>
</footer>

<script>
    // Set tahun secara otomatis
    document.getElementById("year").textContent = new Date().getFullYear();
</script>
