<footer class="w-full bg-[#C15E15] text-white text-center py-4 mt-6">
    <p class="text-sm">Copyright &copy; <span id="year"></span> All Rights Reserved.</p>
</footer>

<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>
